<!DOCTYPE html>
<html>
<head>
  <title>GaScheduler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
  <% if current_user %>
    Hello, <%= current_user.first_name %>
    <%= link_to "Logout", session_path(session), method: :delete, confirm: "Sure you want to log out?" %>
  <% else %>
    <%= link_to "Login", login_path %>
  <% end %>
  </nav>


<%= yield %>

</body>
</html>
