<h2>Edit upcoming course information</h2>

<div class="form_container">
<%= render 'form' %>
</div>

<h3>Enrolled students</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Prework done?</th>
      <th>Paid?</th>
      <th></th>
    </tr>
  </thead>
  <% @cohort.students.each do |s| %>
    <tr>
      <td><%= s.full_name %></td>
      <td><%= check_box_tag "enrollments[prework_done]" , s.id , s %></td>
      <td><%= check_box_tag "enrollments[paid]" , s.id %></td>
      <td>Delete</td>
    </tr>
  <% end %>
</table>


<%= link_to 'Back', cohort_path(@cohort) %>